<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xoc.CoverGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Xoc.CoverGenerator.Properties.Settings>
            <setting name="FileNameLogo" serializeAs="String">
                <value>xoc software color {0}dpi.png</value>
            </setting>
            <setting name="BookPageCount" serializeAs="String">
                <value>258</value>
            </setting>
            <setting name="MarginBleedInches" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="CreateSpaceDpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MarginSafeInches" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="MarginSafeSpineInches" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="SizeIsbnBlockInches" serializeAs="String">
                <value>2, 1.2</value>
            </setting>
            <setting name="SizeBookTrimInches" serializeAs="String">
                <value>6, 9</value>
            </setting>
            <setting name="BookTitle" serializeAs="String">
                <value>The Reddick C# Style Guide</value>
            </setting>
            <setting name="BookAuthor" serializeAs="String">
                <value>GREG REDDICK</value>
            </setting>
            <setting name="PageThicknessWhiteInches" serializeAs="String">
                <value>0.002252</value>
            </setting>
            <setting name="PageThicknessCreamInches" serializeAs="String">
                <value>0.0025</value>
            </setting>
            <setting name="PageThicknessColorInches" serializeAs="String">
                <value>0.002347</value>
            </setting>
            <setting name="DirectoryImages" serializeAs="String">
                <value>..\..\..\Images</value>
            </setting>
            <setting name="BookSubtitle" serializeAs="String">
                <value>Best practices for writing C# code</value>
            </setting>
            <setting name="BookDraftText" serializeAs="String">
                <value>DRAFT</value>
            </setting>
            <setting name="BookBlurb" serializeAs="String">
                <value>So you've learned how to write C# code that compiles, but how do you make your code great? This is the definitive reference on how to write elegant C# code. This book covers:

   ▪ Formatting, documenting, and organizing code
   ▪ Naming elements
   ▪ Using code patterns
   ▪ Architecting projects
   ▪ Implementing security
   ▪ Handling warnings
   ... and many other best practices

This book contrains hundreds of rules and examples showing how to write good quality C# code. Using these recommendations will make your code more correct, robust, extensible, reusable, efficient, and maintainable.

"This little red book gives you everything you need to know about the best way to style C# code."
   — Chris Pirih, the developer of Microsoft Ski Free</value>
            </setting>
            <setting name="MarginTextInches" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ShowTrim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontTitleSize" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="FontSubtitleSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="FontAuthorSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="FontTitleSpineSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="FontAuthorSpineSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FontBlurbSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FontDraftSize" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="FontTypeface" serializeAs="String">
                <value>Cambria</value>
            </setting>
            <setting name="SpacingTitleInches" serializeAs="String">
                <value>2.125</value>
            </setting>
            <setting name="SpacingAuthorInches" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="SpacingSubtitleInches" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpacingDraftInches" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="PenroseIterations" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="FileNameIsbn" serializeAs="String">
                <value>barcode_978-0-692-53174-7_52000_{0}dpi.png</value>
            </setting>
            <setting name="ShowIsbn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KindleDpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="KindleAspectRatio" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="KindleHeight" serializeAs="String">
                <value>2500</value>
            </setting>
        </Xoc.CoverGenerator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
