<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xoc.CoverGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Xoc.CoverGenerator.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>c:\temp\cover.pdf</value>
            </setting>
            <setting name="IsbnFileName" serializeAs="String">
                <value>barcode_978-0-692-53174-7_52000_{0}dpi.png</value>
            </setting>
            <setting name="LogoFileName" serializeAs="String">
                <value>xoc software color {0}dpi.png</value>
            </setting>
            <setting name="BookPageCount" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="BleedSize" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="Dpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SafeBorder" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="SafeSpineBorder" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="IsbnBlockSize" serializeAs="String">
                <value>2, 1.2</value>
            </setting>
            <setting name="BookTrim" serializeAs="String">
                <value>6, 9</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>The Reddick C# Style Guide</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>GREG REDDICK</value>
            </setting>
            <setting name="PageThicknessWhite" serializeAs="String">
                <value>0.002252</value>
            </setting>
            <setting name="PageThicknessCream" serializeAs="String">
                <value>0.0025</value>
            </setting>
            <setting name="PageThicknessColor" serializeAs="String">
                <value>0.002347</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value>..\..\..\Images</value>
            </setting>
            <setting name="Subtitle" serializeAs="String">
                <value>Best practices for writing C# code</value>
            </setting>
            <setting name="FrontBlockHeight" serializeAs="String">
                <value>1.65</value>
            </setting>
            <setting name="FrontBlockLocation" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Draft" serializeAs="String">
                <value>DRAFT</value>
            </setting>
            <setting name="Blurb" serializeAs="String">
                <value>The Reddick C# Style Guide is a set of best practices for writing C# code. It shows recommended programming style, practices, and methods for each aspect of a C# program. It covers file organization, indentation, comments, declarations, statements, white space, naming conventions, programming practices, programming principles, programming rules of thumb, and architectural best practices. Following these guidelines improves the readability of their source code and makes software maintenance easier.</value>
            </setting>
        </Xoc.CoverGenerator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
